.fs-clearer {
	clear: both; 
	height: 0; 
	line-height: 0; 
	display: block;
}

.fs-campaign-content .fs-campaign-title{
  font-size: 2em;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom:1px solid #eee;
}

.fs-campaign-content .fs-micro-campaign-title {
  font-size: 2em;
  margin-bottom: 5px;
}

.fs-campaign-content .fs-micro-campaign-sub-title  {
  font-size: 1.4em;
  color:#ccc;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom:1px solid #eee;
}

.fs-campaign-content .fs-micro-campaign-sub-title sup{
  vertical-align: super;
	font-size: 0.6em;
}

.fs-create-micro-campaign .fs-parent-campaign-details-title{
  margin-bottom:10px;
  font-size: 1.2em;
  font-weight: normal;
}

.fs-create-micro-campaign .fs-parent-campaign-details{
  margin:0 0 30px 0;
  padding:20px;
  background:#f7f7f7;
  border: 1px solid #d1d1d1;
}

.fs-create-micro-campaign .fs-parent-campaign-details li{
  list-style: none;
  line-height: 1.2em;
}

.fs-create-micro-campaign .fs-parent-campaign-details li strong {
  display:inline-block;
  width:50px;
  list-style: none;
  line-height: 1.2em;
}

.fs-campaign-sidebar .donation-stats {
  padding: 20px;
  margin-bottom: 20px;
  background: #3580c0;
  background: rgba(53, 128, 192, 0.9);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
}

.fs-campaign-sidebar h3 {
  color: #ffe327;
  text-transform: uppercase;
  letter-spacing: -1px;
  line-height: 1em;
  margin: 0px;
}

.fs-campaign-sidebar h4 {
  color: #ffe327;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-size: 1.8em;
  line-height: 1.1em;
}

.fs-campaign-sidebar hr {
  border: none;
  border-bottom: 2px dotted #fff;
}

.fs-campaign-sidebar .progress-bar {
  position: relative;
  height: 30px;
  margin-bottom: 20px;
  border: 1px solid #4c4c4c;
  background:#666;
}

.fs-campaign-sidebar .progress {
  height: 28px;
}

.fs-campaign-sidebar .progress-amount {
  color: #fff;
  font-weight: bold;
  position: absolute;
  top: 28px;
  left: 6px;
}

.fs-campaign-sidebar .progress-goal {
  color: #333;
  font-weight: bold;
  position: absolute;
  top: 3px;
  right: 6px;
}

.fs-campaign-sidebar .donation-stats ul {
	margin:0;
  margin-top: 30px;
}

.fs-campaign-sidebar .donation-stats li {
  width: 46%;
  display: block;
  color: #333;
  background: #fff;
  text-align: center;
  float: left;
  margin: 2%;
  padding: 4% 0;
  box-sizing: border-box;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.25);
}

.fs-campaign-sidebar .donation-stats li div {
  font-weight: bold;
  vertical-align: middle;
}

.fs-campaign-sidebar .top-contributors {
  font-size: 1em;
  font-weight: bold;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
  padding: 15px 20px;
  margin-bottom: 20px;
  color: #fff;
  background: #f0dc51;
  background: rgba(240, 220, 81, 0.8);
}

.fs-campaign-sidebar .top-contributors h3 {
  color: #242d6e;
  text-transform: uppercase;
  letter-spacing: -1px;
  line-height: 1em;
  margin: 0px;
}

.fs-campaign-sidebar .top-contributors h4 {
  color: #242d6e;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-size: 1.1em;
}

.fs-campaign-sidebar .top-contributors ul {
  margin-left:0;
  list-style: none;
}

.fs-campaign-sidebar .top-contributors li {
  font-size: 1em;
  margin-bottom: 5px;
  margin-left:0;
  list-style: none;
}

.fs-campaign-sidebar .top-contributors .fs-contribution-amount {
  display: block;
  float: left;
  color: #242d6e;
  width: 30%;
}
.fs-campaign-sidebar .top-contributors .fs-contribution-name {
  display: block;
  float: right;
  color: #fff;
  width: 65%;
}

.fs-campaign-sidebar .fs-create-micro-campaign-cta{
  position: relative;
  display: block;
  padding:10px 40px 10px 20px;
  border-radius: 3px;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
  color:#fff !important;
  font-size: 1.1em;
  line-height: 1.2em;
}

.fs-campaign-sidebar .fs-create-micro-campaign-cta:hover i {
  right:10px;
}

.fs-campaign-sidebar .fs-create-micro-campaign-cta i {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 2em;
  transition:right 0.15s ease-in-out;
}

.fs-campaign-content .fs-error {
  margin:40px 0;
  font-size: 1em;
  border-left:5px solid #ff9999;
  background: #ffeeee;
  padding:10px;
  padding-left:20px;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.1);
}

.fs-campaign-content .fs-notice {
    margin: 40px 0;
    font-size: 1em;
    border-left: 5px solid #ADD8E6;
    background: #F0F8FF;
    padding: 10px;
    padding-left: 20px;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.1);
}

.fs-campaign-shortcode .fs-campaign-list > li {list-style: none; margin-left:0; margin-bottom:40px;}
.fs-campaign-shortcode .fs-campaign-list .fs-campaign-thumbnail {float:left;}
.fs-campaign-shortcode .fs-campaign-list .fs-campaign-info.has-thumb {margin-left:180px;}
.fs-campaign-shortcode .fs-campaign-list .fs-campaign-info ul {margin-left:0;}